.circleWrapper {
    position: relative;
    width: 200px;
    height: 200px;
}

.circleAnimation, .secondCircle, .thirdCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.circleAnimation {
    width: 200px;
    height: 200px;
    background-color:rgb(175, 240, 5); /* Green */
    z-index: 1; /* Ensure it's behind the other circles */
}

.secondCircle {
    width: 150px;
    height: 150px;
    background-color: #6f7276;
    z-index: 2; /* Ensure it's between the other circles */
}

.thirdCircle {
    width: 100px; /* Smallest radius */
    height: 100px; /* Smallest radius */
    background-color: #313131; /* Grey color */
    z-index: 3; /* Ensure it's on top */
}
